@import url('https://fonts.googleapis.com/css?family=Lato');


body {
    font-family: 'Lato', sans-serif;
    background-color:white;
}

.container {
    max-width: 40%;
    margin: 0 auto;
}

nav {
    text-align: center;
}


